.images{
    background-image: url(../imges/paisagem.png);
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.montanhas{
    background-image: url(../imges/pexels-sagui-andrea-618833.jpg);
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.florestas{
    background-image: url(../imges/pexels-rudolf-jakkel-418831.jpg);
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}